<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Add</title>
</head>
<body>
    <div class="container p-3 w-50 d-flex flex-column">
        <h2 class="text-aligh-center">Adding Link</h2>
        <form class="d-flex flex-column" method="POST" action="/add">
            <input class="mb-2" type="text" name="name" placeholder="Your Name" value="<%= body.name%>"  required>
            <input class="mb-2" type="text" name="sn" placeholder="Your Social Network" value="<%= body.sn%>"  required>
            <input class="mb-4" type="text" name="url" placeholder="URL" value="<%= body.url%>"  required>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>

        <% if(error) {%>
            <div class="alert alert-danger alert-dismissible mt-3">
                <strong>Error:</strong> <%= error.message %>
            </div>
        <% } %> 
    </div>
</body>
</html>